@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
body {
    margin: 2%;
    font-family: 'Oswald', sans-serif;
    font-size: 15pt;
    background-color: rgb(50, 150, 255);
}

.h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
}

.p {
    display: flex;
    flex-direction: column;
    text-align: justify, center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.imagem {
    margin-top: -330px;
}

.cabecalho a {
    text-decoration: none;
    color: #eee;
    font-size: 18pt;
}

.autenticacao {
    float: center;
    height: 80px;
    padding: 25px;
}

.botao {
    border-radius: 30px;
    padding: 1% 5%;
    margin: 10px;
}

.destaque {
    background: #1714c7cc;
    color: #fff;
}

.quadro {
    background-color: rgb(255, 255, 255);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 8em;
    margin-right: 8em;
}

#conteudo {
    background-color: rgb(50, 150, 255);
    justify-content: center;
    align-items: center;
    display: flex;

}

@media(min-width: 679px) {
    .menu-toggle {
        display: none;
    }
}

@media(max-width: 910px) {
    .autenticacao {
        display: none;
    }
}